<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>craigslist</h1>

<ul>
    <h1>Alabama</h1>
    {% for city in location_list %}

    {% if city.state == 'alabama' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Alaska</h1>
    {% for city in location_list %}

    {% if city.state == 'Alaska' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Arizona</h1>
    {% for city in location_list %}

    {% if city.state == 'Arizona' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Arkansas</h1>
    {% for city in location_list %}

    {% if city.state == 'Arkansas' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>California</h1>
    {% for city in location_list %}

    {% if city.state == 'California' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Colorado</h1>
    {% for city in location_list %}

    {% if city.state == 'Colorado' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Connecticut</h1>
    {% for city in location_list %}

    {% if city.state == 'Connecticut' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Delaware</h1>
    {% for city in location_list %}

    {% if city.state == 'Delaware' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>District of Columbia</h1>
    {% for city in location_list %}

    {% if city.state == 'District of Columbia' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Florida</h1>
    {% for city in location_list %}

    {% if city.state == 'Florida' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Georgia</h1>
    {% for city in location_list %}

    {% if city.state == 'Georgia' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Hawaii</h1>
    {% for city in location_list %}

    {% if city.state == 'Hawaii' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Idaho</h1>
    {% for city in location_list %}

    {% if city.state == 'Idaho' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Illinois</h1>
    {% for city in location_list %}

    {% if city.state == 'Illinois' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Indiana</h1>
    {% for city in location_list %}

    {% if city.state == 'Indiana' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}

</ul>
<ul>
    <h1>Iowa</h1>
    {% for city in location_list %}

    {% if city.state == 'Iowa' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Kansas</h1>
    {% for city in location_list %}

    {% if city.state == 'Kansas' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Kentucky</h1>
    {% for city in location_list %}

    {% if city.state == 'Kentucky' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Louisianna</h1>
    {% for city in location_list %}

    {% if city.state == 'Louisianna' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Maine</h1>
    {% for city in location_list %}

    {% if city.state == 'Maine' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Maryland</h1>
    {% for city in location_list %}

    {% if city.state == 'Maryland' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Massachusetts</h1>
    {% for city in location_list %}

    {% if city.state == 'Massachusetts' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Michigan</h1>
    {% for city in location_list %}

    {% if city.state == 'Michigan' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Minnesota</h1>
    {% for city in location_list %}

    {% if city.state == 'Minnesota' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Mississippi</h1>
    {% for city in location_list %}

    {% if city.state == 'Mississippi' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Missouri</h1>
    {% for city in location_list %}

    {% if city.state == 'Missouri' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Montana</h1>
    {% for city in location_list %}

    {% if city.state == 'Montana' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Nebraska</h1>
    {% for city in location_list %}

    {% if city.state == 'Nebraska' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Nevada</h1>
    {% for city in location_list %}

    {% if city.state == 'Nevada' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>New Hampshire</h1>
    {% for city in location_list %}

    {% if city.state == 'New Hampshire' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>New Jersey</h1>
    {% for city in location_list %}

    {% if city.state == 'New Jersey' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>New Mexico</h1>
    {% for city in location_list %}

    {% if city.state == 'New Mexico' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>New York</h1>
    {% for city in location_list %}

    {% if city.state == 'New York' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>North Carolina</h1>
    {% for city in location_list %}

    {% if city.state == 'North Carolina' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>North Dakota</h1>
    {% for city in location_list %}

    {% if city.state == 'North Dakota' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Ohio</h1>
    {% for city in location_list %}

    {% if city.state == 'Ohio' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Oklahoma</h1>
    {% for city in location_list %}

    {% if city.state == 'Oklahoma' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Oregon</h1>
    {% for city in location_list %}

    {% if city.state == 'Oregon' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Pennsylvania</h1>
    {% for city in location_list %}

    {% if city.state == 'Pennsylvania' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Rhode Island</h1>
    {% for city in location_list %}

    {% if city.state == 'Rhode Island' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>South Carolina</h1>
    {% for city in location_list %}

    {% if city.state == 'South Carolina' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>South Dakota</h1>
    {% for city in location_list %}

    {% if city.state == 'South Dakota' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Tennessee</h1>
    {% for city in location_list %}

    {% if city.state == 'Tennessee' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Texas</h1>
    {% for city in location_list %}

    {% if city.state == 'Texas' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Utah</h1>
    {% for city in location_list %}

    {% if city.state == 'Utah' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Vermont</h1>
    {% for city in location_list %}

    {% if city.state == 'Vermont' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Virginia</h1>
    {% for city in location_list %}

    {% if city.state == 'Virginia' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Washington</h1>
    {% for city in location_list %}

    {% if city.state == 'Washington' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>West Virginia</h1>
    {% for city in location_list %}

    {% if city.state == 'West Virginia' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Wisconsin</h1>
    {% for city in location_list %}

    {% if city.state == 'Wisconsin' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
<ul>
    <h1>Wyoming</h1>
    {% for city in location_list %}

    {% if city.state == 'Wyoming' %}
        <li>
    {{ city.city }}
        </li>
    {% endif %}

    {% endfor %}
</ul>
</body>
</html>